ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  border-radius: 5px;
}
li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  padding: 20px 24px;
  color: chartreuse;
  text-decoration: none;
  transition: all ease 1s;
  border-radius: 5px;
}
li a:hover {
  color: black;
  background-color: chartreuse;
}
#card {
  width: 300px;
  height: 400px;
  float: left;
  border: 1px double darkslategray;
  padding: 45px;
  text-align: center;
  display: block;
  margin: 10px;
  border-radius: 10px;
  border-width: 5px;
}
#containner {
  margin: 0 auto;
  display: table;
}
